{% extends "index.html" %}
{% block content %}
<br>
<hr>
<div class="app">
        
    <form method="POST" action="{{url_for('openInput')}}"></form>
        <ul style="list-style-type: none;">
            <li 
                v-for="(value,index) in values"
                :key="index"
                v-on:click="value.opened = !value.opened"
                class="clickable"
            >
            {value.value}
            <div v-show="value.opened">
                <input type="text" name="input1">
                <input type="text" name="input2">
                <button type="submit">Submit</button>
            </div>
            </li>
        </ul>
    </form>
</div>

{% endblock %}

{% block script %}
<script type="text/JavaScript"> 
     let literals = {{literalsJson | safe}}
     console.log(typeof(literals))
     let valuesObjectArray = []
     for (i=0; i<literals.length; i++) {
         valuesObjectArray.push({
             opened: false,
             value: literals[i]
         })
     }
     console.log(valuesObjectArray)
     
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    new Vue({
        delimiters: ['{', '}'],
        el: '.app',

        data: {
            values: valuesObjectArray
        }
    })
</script>

{% endblock %}